{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
    <div class="logodiv">
        <img src="{% static 'img/twitter.jpeg' %}" alt="" class="twitterlogo">
        <h1>Edit</h1>
    </div>
    <section class="post_form">
        <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" value="{{ post.name }}" required><br>
            <input type="text" name="body" value="{{ post.body }}">
            
            {% if post.image.url %}
            <img src="{{ post.image.url }}" alt="" class="post-image" width="60%">
            {% endif %}
            <div class="butns">
                <input type="file" value="chose file" class="upload-file" name="image">
                <button class="cancel"><a href="/"  type="submit">Cancel</a></button>
                <button class="update"  type="submit">Update</button>
            </div>
        </form>

    </section>

</section>


{% endblock %}